<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hello AWS!</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" />
</head>

<body>
  <section class="hero is-primary">
    <div class="hero-body">
      <p class="title">Hello Spring Web Application on AWS!</p>
      <p class="subtitle">
        EC2 インスタンス ID：<strong th:text="${ec2id}"></strong>
      </p>
    </div>
  </section>
</body>

</html>